{% extends "templates/internal-base.html" %}


{% block additional_tags_right %}
<a class="item profile" onclick="$('#newPostModal').modal('show');"><strong>Add New Post</strong></a>
{% endblock %}

{% block content %}


<div class="ui text container centered">
    {% for post in post_query %}
    {% include "templates/post-card.html" %}
    {% endfor %}

</div>

<!-- Modals -->

<div class="ui small modal" id="newPostModal">
    <div class="header">Add a Post</div>
    <div class="content">
        <form class="ui form" id="postModalForm" action="/post" method="post">
            <div class="required field">
                <label>Title:</label>
                <input type="text" name="text" placeholder="Post Title">
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Type</label>
                    <select class="ui fluid search dropdown" name="type" placeholder="Select a Type">
                        <option value="Question">Question</option>
                        <option value="Suggestion">Suggestion</option>
                        <option value="Announcement">Announcement</option>
                    </select>
                </div>
                <div class="required field">
                    <label>Category</label>
                    <select class="ui fluid search dropdown" name="category" placeholder="Select a Category">
                        <option value="Class">Classes</option>
                        <option value="Food">Food</option>
                        <option value="RecSports">Rec Sports</option>
                        <option value="Clubs">Clubs</option>
                        <option value="ProfessionalDevelopment">Professional Development</option>
                        <option value="Extra-CurricularActivates">Extra-Curricular Activates</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="required field">
                <label>Body:</label>
                <textarea rows="3" name="body" placeholder="Text Body"></textarea>
            </div>
            <div class="field">
                <label>Anonymous?</label>
                <div class="ui test toggle checkbox">
                    <input type="checkbox" checked="checked" name="is_anonymous">
                    <label></label>
                </div>
            </div>
            <div class="ui error message"></div>
            <input type="submit" value="Submit" class="ui primary button right floated button">
        </form>
        <div class="vertical-half-spacer"></div>
    </div>
</div>

<!-- end Modals -->

{% endblock %}