{% extends "templates/internal-base.html" %}

{% block content %}{% endblock %}

{% block posts %}
<div class="ui text container centered">
    {% for post in post_query %}
    {% include "templates/post-card.html" %}
    {% endfor %}
    {% endblock %}


    {% block dialogs %}


    <div class="ui inverted segment">
        <h2>Add a new post</h2>
        <form action="/post" method="post" class="ui form">
            <div class="field ui segment">
                <label>Text</label>
                <input type="text" name="text" placeholder="Post Text">
            </div>
            <div class="ui segment">
                <input type="checkbox" name="is_anonymous">
                <label>Anonymous?</label>
            </div>
            <input type="submit" value="Submit" class="ui button">
        </form>
    </div>
    <br/>
    <br/>
</div>

{% endblock %}
