{% extends "templates/internal-base.html" %}


{% block additional_tags_right %}
<a class="item profile" onclick="$('#newPostModal').modal('show');"><strong>Add New Post</strong></a>
{% endblock %}

{% block content %}


<div class="ui text container centered">
    {% for post in post_query %}
    {% include "templates/post-card.html" %}
    {% endfor %}

</div>

<!-- Modals -->

<div class="ui small modal" id="newPostModal">
    <div class="header">Add a Post</div>
    <div class="content">
        <form class="ui form" id="postModalForm" action="/post" method="post">
            <div class="required field">
                <label>Text:</label>
                <input type="text" name="text" placeholder="Post Text">
            </div>
            <div class="field">
                <label>Anonymous?</label>
                <div class="ui test toggle checkbox">
                    <input type="checkbox" checked="checked" name="is_anonymous">
                    <label></label>
                </div>
            </div>
            <div class="ui error message"></div>
            <input type="submit" value="Submit" class="ui primary button right floated button">
        </form>
        <div class="vertical-half-spacer"></div>

        <!--</div>-->
        <!--<div class="actions">-->
        <!--<div class="ui cancel grey basic button">Cancel</div>-->
        <!--<div class="ui approve green basic button">Save</div>-->
    </div>
</div>

    <!-- end Modals -->

    {% endblock %}