{% extends "templates/internal-base.html" %}


{% block additional_tags_right %}
<!--<a class="item profile" onclick="launchModal()"><strong>Add New Post</strong></a>-->
{% endblock %}

{% block content %}
<script src="/static/js/profile.js"></script>

<div class="ui container">
    <div class="ui relaxed grid">
        <div class="row">
            <div class="eight wide column">
                <img class="ui medium bordered image" src="static/images/IMG_5829_square.jpg">
            </div>
            <div class="eight wide column">
                <h1 class="ui header">{{ user.name }}</h1>
                <h3 class="ui header"><em>{{ user.username }}</em></h3>
                <a href="mailto:doolansr@rose-hulman.edu?subject=AskASenior" targer="_top">
                    <h3 class="ui blue header" style="clear:both">{{ user.email }}
                        <!--<i class="mail icon"></i></h3>-->
                    </h3>
                </a>
                <!--<h3 class="ui header blue">doolansr@rose-hulman.edu</h3>-->
                <div class="vertical-half-spacer"></div>
                <div class="ui message ">{{ user.description }}</div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <h2 class="ui header">Recent Posts</h2>
        <div class="vertical-half-spacer"></div>
        {% for post in post_query %}
        {% include "templates/post-card.html" %}
        {% endfor %}

    </div>
</div>

<!-- Modals -->

<div class="ui small modal" id="newPostModal">
    <div class="header">Add a Post</div>
    <div class="content">
        <form class="ui form" id="postModalForm"> <!--action="/post" method="post">-->
            <div class="required field">
                <label>Title:</label>
                <input type="text" name="title" placeholder="Post Title">
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Type</label>
                    <select class="ui fluid search dropdown" name="type" placeholder="Select a Type">
                        <option value="Question">Question</option>
                        <option value="Suggestion">Suggestion</option>
                        <option value="Announcement">Announcement</option>
                    </select>
                </div>
                <div class="required field">
                    <label>Category</label>
                    <select class="ui fluid search dropdown" name="category" placeholder="Select a Category">
                        <option value="Class">Classes</option>
                        <option value="Food">Food</option>
                        <option value="Rec_Sports">Rec Sports</option>
                        <option value="Clubs">Clubs</option>
                        <option value="Professional_Development">Professional Development</option>
                        <option value="Extra-Curricular_Activates">Extra-Curricular Activates</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="required field">
                <label>Body:</label>
                <textarea rows="3" name="body" placeholder="Text Body"></textarea>
            </div>
            <div class="field">
                <label>Anonymous?</label>
                <div class="ui test toggle checkbox">
                    <input type="checkbox" checked="checked" name="is_anonymous">
                    <label></label>
                </div>
            </div>
            <div class="ui error message"></div>
            <!--<input type="submit" value="Submit" class="ui primary button right floated button">-->
        </form>
        <div class="vertical-half-spacer"></div>
    </div>
    <div class="actions">
        <div class="ui cancel grey basic button">Cancel</div>
        <div class="ui approve primary button">Save</div>
    </div>
</div>

<!-- end Modals -->

{% endblock %}